// __COMMON__

.main{
}
.vincent__corners{
    &:after{
    width: 100%;
    position: absolute;
    display: block;
    content: "";
    left: 0;
    border: solid transparent;
    border-width: 10px 0;
    background-color: #121618;
    background-color: hsla(0, 0%, 0%, 0);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
    background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    z-index: 100;
    background-image: linear-gradient(rgba(18,22,24,1), rgba(18,22,24,1)), linear-gradient(-45deg, transparent 75%, rgba(18,22,24,1) 75%), linear-gradient(45deg, transparent 75%, rgba(18,22,24,1) 75%);
    }
}
